/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&display=swap');

body {
    background-color: grey;
}

.profile-card {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}